/**
  基础变量
 */
$is-wx: false;    //是否为微信小程序

/*
*   颜色系统
*/

//灰度定义
$white:    #fff !default;
$gray-100: #ebebeb !default;
$gray-400: #b3b3b3 !default;
$gray-500: #999 !default;
$gray-600: #666 !default;
$gray-800: #333 !default;
$black:    #000 !default;

//基础色值定义
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$gold:    #b89267 !default;

//主题色定义
$primary:       $gold !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$light-gray:    $gray-400 !default;
$gray:          $gray-600 !default;
$dark:          $gray-800 !default;

//色值数组
$colorList: (
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'blue': $blue,
  'purple': $purple,
  'primary': $primary,
  'white': $white,
  'black': $black,
  'gray': $gray,
  'light': $gray-500,
  'dark': $dark
);

/**
  其他数值
 */

//button

$btn-size-list:(
  // $height, $padding-horizontal, $font-size
  'base': (65, 30, 30),
  'small': (48, 25, 30),
  'big': (92, 40, 36)
);

$layoutNumber:          5;
$line-height-base:      20/14 !default;

//font
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

