/**
  基础变量
 */
$is-wx: false !default;    //是否为微信小程序
$is-pc: false !default;     //是否为PC端

/*
*   颜色系统
*/

//灰度定义
$white:    #fff !default;
$gray-100: #ebebeb !default;
$gray-400: #b3b3b3 !default;
$gray-500: #999 !default;
$gray-600: #666 !default;
$gray-800: #333 !default;
$black:    #000 !default;

//基础色值定义
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e23939 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$gold:    #b89267 !default;

//主题色定义
$primary:       $gold !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$light-gray:    $gray-400 !default;
$gray:          $gray-600 !default;
$dark:          $gray-800 !default;

$color-list: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$color-list: map-merge(
  (
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'blue': $blue,
    'purple': $purple,
    'primary': $primary,
    'white': $white,
    'black': $black,
    'gray': $gray,
    'light': $light,
    'dark': $dark
  ),
  $color-list
);

/**
  灰度列表
 */
$gray-list:(
  'black':      $black,
  'darker':     $gray-800,
  'dark':       $gray-600,
  'gray':       $gray-500,
  'light':      $gray-400,
  'lighter':    $gray-100,
  'white':      $white
);

/**
  其他数值
 */
//button
$btn-size-list: () !default;
//parameters： $height, $padding-horizontal, $font-size
// stylelint-disable function-comma-newline-after
$btn-size-list: map-merge(
  (
    'base': (65, 30, 30),
    'small': (55, 20, 26),
    'big': (88, 30, 32)
  ),
  $btn-size-list
);

$layout-number:          5 !default;
$box-increase-gradient: 10 !default;
$line-height-base:      20/14 !default;

$container-padding: rpx(20);
//TODO 该值有待商榷
$container-width: rpx(750);
$border-radius-base:        rpx(8) !default;
$border-color-default:      #eee !default;

//font
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;
$font-size-max: 40 !default;
$font-size-min: 24 !default;

//shadow
$box-shadow:               0 rpx(2) rpx(16) #c8c8c8 !default;
$box-shadow-l:             0 rpx(2) rpx(32) #c8c8c8 !default;
$box-shadow-s:             0 rpx(2) rpx(8) #c8c8c8 !default;

