/**
  This part is polyfill for weixin mini program development
 */

//is-wx set true globally
$is-wx: true;

// 当利用小程序的button组件做功能容器时，样式问题的修复
button.button-box {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  border-radius: 0;
  line-height: normal;
  background-color: transparent;
}

// 去除小程序中<button>的默认边框
button::after {
  border: none;
  border-radius: none;
}

// 全屏按钮 为了做的formID收集
button.btn-full-screen {
  display: block;
  padding: 0;
  margin: 0;
  text-align: initial;
  line-height: initial;

  &.button-hover {
    background: none;
    color: initial;
  }
}
