/**
  This part is polyfill for PC development
 */

//is-pc set true globally
$is-pc: true;

// stylelint-disable function-comma-newline-after
$btn-size-list:
  (
    'base': (32, 14, 15),
    'small': (28, 12, 13),
    'big': (44, 15, 16)
  );
$btn-radius-size: 5px;

// normalize PC
button:focus {
  outline: none;
}
