/* Box model */
@import "../lib/function";
@import "../vars";

/**
  外边距、内边距
 */
@for $i from 0 through $layout-number{
  .margin#{$i * $boxy-increase-gradient}{ margin: get-layout-size($i, 1); }
  .margint#{$i * $boxy-increase-gradient}{ margin-top: get-layout-size($i, 1); }
  .marginb#{$i * $boxy-increase-gradient}{ margin-bottom: get-layout-size($i, 1); }
  .marginl#{$i * $boxy-increase-gradient}{ margin-left: get-layout-size($i, 1); }
  .marginr#{$i * $boxy-increase-gradient}{ margin-right: get-layout-size($i, 1); }
  .margint-n#{$i * $boxy-increase-gradient}{ margin-top: get-layout-size($i, -1); }
  .marginb-n#{$i * $boxy-increase-gradient}{ margin-bottom: get-layout-size($i, -1); }
  .marginl-n#{$i * $boxy-increase-gradient}{ margin-left: get-layout-size($i, -1); }
  .marginr-n#{$i * $boxy-increase-gradient}{ margin-right: get-layout-size($i, -1); }

  .marginh#{$i * $boxy-increase-gradient}{
    @extend .marginl#{$i * $boxy-increase-gradient};
    @extend .marginr#{$i * $boxy-increase-gradient};
  }

  .marginv#{$i * $boxy-increase-gradient}{
    @extend .margint#{$i * $boxy-increase-gradient};
    @extend .marginb#{$i * $boxy-increase-gradient};
  }
  .padding#{$i * $boxy-increase-gradient}{ padding: get-layout-size($i, 1); }
  .paddingt#{$i * $boxy-increase-gradient}{ padding-top: get-layout-size($i, 1); }
  .paddingb#{$i * $boxy-increase-gradient}{ padding-bottom: get-layout-size($i, 1); }
  .paddingl#{$i * $boxy-increase-gradient}{ padding-left: get-layout-size($i, 1); }
  .paddingr#{$i * $boxy-increase-gradient}{ padding-right: get-layout-size($i, 1); }

  .paddingh#{$i * $boxy-increase-gradient}{
    @extend .paddingl#{$i * $boxy-increase-gradient};
    @extend .paddingr#{$i * $boxy-increase-gradient};
  }

  .paddingv#{$i * $boxy-increase-gradient}{
    @extend .paddingt#{$i * $boxy-increase-gradient};
    @extend .paddingb#{$i * $boxy-increase-gradient};
  }
  %top#{$i * $boxy-increase-gradient}{ top: get-layout-size($i, 1); }
  %right#{$i * $boxy-increase-gradient}{ right: get-layout-size($i, 1); }
  %left#{$i * $boxy-increase-gradient}{ left: get-layout-size($i, 1); }
  %bottom#{$i * $boxy-increase-gradient}{ bottom: #{ get-layout-size($i, 1)}; }
  %top-n#{$i * $boxy-increase-gradient}{ top: get-layout-size($i, -1); }
  %right-n#{$i * $boxy-increase-gradient}{ right: get-layout-size($i, -1); }
  %left-n#{$i * $boxy-increase-gradient}{ left: get-layout-size($i, -1); }
  %bottom-n#{$i * $boxy-increase-gradient}{ bottom: get-layout-size($i, -1); }
}

.border {
  border: 1px solid $border-color-default;

  &l {
    border-left: 1px solid $border-color-default;
  }

  &r {
    border-right: 1px solid $border-color-default;
  }

  &t {
    border-top: 1px solid $border-color-default;
  }

  &b {
    border-bottom: 1px solid $border-color-default;
  }

  &h {
    border-left: 1px solid $border-color-default;
    border-right: 1px solid $border-color-default;
  }

  &v {
    border-top: 1px solid $border-color-default;
    border-bottom: 1px solid $border-color-default;
  }

  &.item {
    > {
      @include uni-selector() {
        border: 1px solid $border-color-default;
      }
    }
  }

  &.itemv,
  &.itemh {
    > {
      @include uni-selector() {
        border-top: 1px solid $border-color-default;

        &:first-child {
          border-top: none;
        }
      }
    }
  }

  &.round {
    border-radius: 50%;
  }

  &.radius {
    border-radius: $border-radius-base;
  }
}

@if (not $is-pc) {
  .bordert.light,
  .borderr.light,
  .borderb.light,
  .borderl.light {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: map-get($gray-list, 'lighter');
    }
  }

  .bordert.light::before {
    bottom: auto;
    height: 1px;
    transform: scaleY(.5);
  }

  .borderr.light::before {
    left: auto;
    width: 1px;
    transform: scaleX(.5);
  }

  .borderb.light::before {
    top: auto;
    height: 1px;
    transform: scaleY(.5);
  }

  .borderl.light::before {
    right: auto;
    width: 1px;
    transform: scaleX(.5);
  }
}
