/**
  按钮变形
 */
@import "../lib/function";
$btn-font-size-base: 52;


@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }
}

@mixin button-size($height, $padding-horizontal, $font-size) {
  padding: rpx(($height - $font-size*1.4) / 2) rpx($padding-horizontal);
  font-size: rpx($font-size);
  line-height: rpx($font-size * 1.4);
  height: $height;

  .badge {
    position: relative;
    top: -2px;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: rpx(0);
  box-sizing: content-box;

  @include button-variant($white, $primary, map-get($colorList,'lighter'));
  //将base的尺寸设置为默认值
  @include button-size(nth(map-get($btn-size-list,'base'),1),nth(map-get($btn-size-list,'base'),2),nth(map-get($btn-size-list,'base'),3));

  &.radius {
    border-radius: rpx(10);
  }

  &.pill {
    border-radius: rpx(100);
  }
}

//改变按钮大小
@each $btnSizeName,$btnSizeValue in $btn-size-list {
  @if (#{$btnSizeName}!='base') {
    .btn.#{$btnSizeName} {
      @include button-size(nth($btnSizeValue,1),nth($btnSizeValue,2),nth($btnSizeValue,3));
    }
  }
}

//按钮颜色翻转
@each $colorName,$colorValue in $colorList {
  .btn.#{$colorName} {
    @include button-variant(white, $colorValue, $colorValue);

    &.btn-reverse,
    &.reverse {
      @include button-variant(map-get($colorList,#{$colorName}), white, $colorValue);
    }
  }
}

//按钮镂空
@each $colorName,$colorValue in $colorList {
  .btn.#{$colorName} {
    @include button-variant(white, $colorValue, $colorValue);

    &.btn-hollow,
    &.hollow {
      border-style: solid;
      border-width: rpx(1);
      @include button-variant(map-get($colorList,#{$colorName}), transparentize($white, 1), $colorValue);
    }
  }
}

