// define box-shadow size
.shadow { box-shadow: $box-shadow !important; }
.shadow-s { box-shadow: $box-shadow-s !important; }
.shadow-l { box-shadow: $box-shadow-l !important; }
.shadow-none { box-shadow: none !important; }
